/*  

::: Color Pallet :::
Orange: #f15f2d
Blue: #489dae

*/

/* ======================================== reset ========================================  */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0; padding:0; border:none; outline:0; vertical-align:baseline; text-decoration:none; outline:none}
:focus {outline:0}
a:active {outline:none}
ol,ul {list-style:none}
table {border-collapse:separate; border-spacing:0}
caption,th,td {text-align:left; font-weight:normal}
blockquote:before,blockquote:after,q:before,q:after {content:""}



/* ======================================== clearfix ======================================== */

#wrapper:after, #header:after, #middle:after, #main:after, #sidebar:after, #footer:after, .shell:after, .group:after, .block:after, .item:after, .buttons:after {content: "."; display:block; height:0; font-size:0px; clear:both; visibility:hidden}

/* \*/ * html #wrapper{height:1px} /* */
/* \*/ * html #header{height:1px} /* */
/* \*/ * html #middle{height:1px} /* */
/* \*/ * html #main{height:1px} /* */
/* \*/ * html #sidebar{height:1px} /* */
/* \*/ * html #footer{height:1px} /* *
/* \*/ * html .shell{height:1px} /* */

/* \*/ * html .group{height:1px} /* */
/* \*/ * html .block{height:1px} /* */
/* \*/ * html .item{height:1px} /* */
/* \*/ * html .buttons{height:1px} /* */



/* ======================================== generic styles ========================================  */

body {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333}

#background {height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: -1;}

h1{font-size:24px; margin:10px 0}
h2{font-size:22px; margin:10px 0}
h3{font-size:18px; padding:0 0 8px}
h4{font-size:16px; margin:0; padding:0}
h5{font-size:14px}
p{margin:10px 0; line-height:17px}

a {color:#f15f2d}
a:hover {color:#4da5b6}

input, select, textarea {font-family:Arial, Helvetica, sans-serif; color:#555555}
textarea:focus, input:focus, select:focus {background: #dce4ec}

.group {width:auto}
.col-left {float:left}
.col-right {float:right}

.no-padding {padding:0 !important}



/* ============================================== page wrap ==============================================  */

#page-wrap {width:100%; margin:0 auto}
.shell {width:990px; margin:0 auto}

.btn-black {width:auto; padding:7px 18px; border:none !important; color:#ffffff !important; font-size:15px; font-weight:bold; cursor:pointer;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #111111;
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #111111;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #454545;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#333333));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #454545, #333333);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #454545, #333333);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #454545, #333333);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #454545, #333333);
}

.btn-black:hover {color:#444444 !important	;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #d5d5d5;
	-moz-box-shadow: 0px 4px 0px #d5d5d5;
	/* Safari */
    -webkit-box-shadow: 0px 4px 0px #d5d5d5;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #ffffff;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
}


.btn-orange {width:auto; padding:7px 18px; border:none !important; color:#ffffff !important; font-size:15px; font-weight:bold; cursor:pointer;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #98432d; 
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #98432d;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #f66520;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f66520), to(#eb5a34));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #f66520, #eb5a34);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #f66520, #eb5a34);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #f66520, #eb5a34);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #f66520, #eb5a34);
}

.btn-orange:hover {color:#444444 !important;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #d5d5d5;
	-moz-box-shadow: 0px 4px 0px #d5d5d5;
	/* Safari */
    -webkit-box-shadow: 0px 4px 0px #d5d5d5;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #ffffff;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
}

.btn-green {width:auto; padding:7px 18px; border:none !important; color:#ffffff !important; font-size:15px; font-weight:bold; cursor:pointer;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #4c6a2e;
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #4c6a2e;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #7eb14a;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7eb14a), to(#709e41));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #7eb14a, #709e41);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #7eb14a, #709e41);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #7eb14a, #709e41);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #7eb14a, #709e41);
}

.btn-green:hover {color:#444444 !important;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #d5d5d5;
	-moz-box-shadow: 0px 4px 0px #d5d5d5;
	/* Safari */
    -webkit-box-shadow: 0px 4px 0px #d5d5d5;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #ffffff;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
}

.input-black {width:165px; height:16px; padding:5px 7px; background:#353535; color:#888888; font-size:12px; line-height:18px; border:none;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: -1px -1px 0px #111111;
	/* Safari */
	-webkit-box-shadow: -1px -1px 0px #111111;
}

.input-black:focus {background:#2c2c2c}


.input-white {width:165px; height:16px; padding:5px 7px; background:#ffffff; font-size:12px; line-height:18px; border:1px solid #d2d2d2;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
}

.input-white:focus {background:#ffffff}



/* ============================================== header ==============================================  */

#header {width:100%; padding:10px 0 0; position:relative}
#header .logo {width:189px; height:188px; position:absolute; top:3px; left:-10px; background:url('/images/css/logo-this_city.png') no-repeat 0 0; text-indent:-9999px}
#header .col-left,
#header .col-right {height:100px; float:right}
#header .col-left {width:600px}
#header .col-right {width:190px; margin:0 0 0 10px}

.info {width:auto; height:40px; margin:0 0 10px; padding:0 25px 0 20px; display:block; color:#ffffff; font-size:18px; line-height:42px; letter-spacing:0.015em;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #98432d; 
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #98432d;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #f66520;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f66520), to(#eb5a34));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #f66520, #eb5a34);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #f66520, #eb5a34);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #f66520, #eb5a34);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #f66520, #eb5a34);
}

.info:hover {color:#444444;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #d5d5d5;
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #d5d5d5;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #ffffff;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e5e5e5));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
}

.icon-iphone {width:18px; height:25px; margin:8px 10px 0 0; float:left; display:block; background:url('/images/css/icon-iphone.png') no-repeat 0 0; text-indent:-9999px}

#login {width:auto; height:70px; padding:10px; display:block; color:#ffffff; font-size:12px; text-align:center;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #4c6a2e;
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #4c6a2e;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #7eb14a;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7eb14a), to(#709e41));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #7eb14a, #709e41);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #7eb14a, #709e41);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #7eb14a, #709e41);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #7eb14a, #709e41);
}

#login p {margin-top:0}
#login a {color:#ffffff}
#login .buttons {margin:4px 0 13px}



/* ============================================== navigation ==============================================  */

#main-nav {width:auto; height:40px; padding:0 11px; line-height:42px;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #3e7782; 
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #3e7782;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #54b0c2;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54b0c2), to(#489dae));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #54b0c2, #489dae);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #54b0c2, #489dae);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #54b0c2, #489dae);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #54b0c2, #489dae);
}

#main-nav ul {text-align:center}
#main-nav ul li {display:inline; background:url(/images/css/border-v-blue.gif) repeat-y 100% 0}
#main-nav ul li:nth-last-child(1) {background:none}
#main-nav ul li a {margin:0 13px; color:#ffffff; font-size:17px}
#main-nav ul li a:hover {color:#333333}


#sub-nav {width:auto; height:60px; padding:0 12px; margin:0 0 0 50px; line-height:26px;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #111111;
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #111111;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #454545;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#333333));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #454545, #333333);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #454545, #333333);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #454545, #333333);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #454545, #333333);
}

#sub-nav ul {text-align:right}
#sub-nav ul li {display:inline; background:url(/images/css/border-v-black.gif) repeat-y 100% 0}
#sub-nav ul li:nth-last-child(1) {background:none}
#sub-nav ul li a {margin:0 13px; color:#ffffff; font-size:13px}
#sub-nav ul li a:hover {color:#f15f2d}
#sub-nav ul li a.more {padding-right:12px; background:url(/images/css/down-arrow.png) no-repeat 100% 50%}


#menu-nav {width:auto; height:30px; line-height:32px;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:3px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:3px;
	/* ---------------------- linear gradient ---------------------- */
}

#menu-nav ul {text-align:left}
#menu-nav ul li {display:inline; border-right: #316872 solid 1px;}
#menu-nav ul li:nth-last-child(1) {border-right: none}
#menu-nav ul li a {margin:0 5px 0 5px; font-size:15px}
#menu-nav ul li a:hover {color:#333333}

#menu-item-nav {width:auto; height:25px; line-height:27px;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:3px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:3px;
	/* ---------------------- linear gradient ---------------------- */
}

#menu-item-nav ul {text-align:center}
#menu-item-nav ul li {display:inline; border-right: #316872 solid 1px;}
#menu-item-nav ul li:nth-last-child(1) {border-right: none}
#menu-item-nav ul li a {margin:0 5px 0 5px; font-size:13px}
#menu-item-nav ul li a:hover {color:#333333}

/* ----------------------------------- dropdown ----------------------------------- */

.dropdown {width:175px; margin:9px 0 0 -288px; position:absolute; z-index:1000; border-top:1px solid #2f2f2f; background:#333333; text-align:right; line-height:18px; visibility:hidden;
	/* ---------------------- linear gradient ---------------------- */
	/*  For Firefox, Flock and SeaMonkey */
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px;
	/*  For Firefox, Flock and SeaMonkey */
	-moz-border-radius-topleft:0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
	/* For Google Chrome and Safari */
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}
.dropdown a {width:auto; padding:6px 25px; display:block; z-index:1000; border-bottom:1px solid #555; color:#ffffff; font-size:15px}
* html .dropdown a{ /*IE only hack*/ width: 100%}
.dropdown a:hover{color:#f15f2d}
#sub-nav ul li a.selected {color:#f15f2d}



/* ============================================== middle ==============================================  */

#middle {width:100%; margin:0px 0 15px}
#middle .block {width:auto}
#header {margin-bottom: 15px;}
#main {float:left; width:620px}
#sidebar {float:right; width:340px}

.semi-trans-container {padding:20px 30px; margin:0 0 30px; border:1px solid #ddd;
	/* ---------------------- opacity ---------------------- */
	background: rgba(255, 255, 255, 0.7);
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
}

#middle .buttons {display:block; margin:5px 0 20px}
#middle .buttons a {float:right; margin:0 0 0 10px}

#middle .btn-orange:hover,
#middle .btn-green:hover,
#middle .btn-black:hover {color:#ffffff !important;
	/* ---------------------- box shadow ---------------------- */
	box-shadow: 0px 4px 0px #3e7782; 
	/* Safari */
	-webkit-box-shadow: 0px 4px 0px #3e7782;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #54b0c2;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#54b0c2), to(#489dae));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #54b0c2, #489dae);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #54b0c2, #489dae);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #54b0c2, #489dae);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #54b0c2, #489dae);
}


/* ============================================== main ==============================================  */


/* ----------------------------------- listing ----------------------------------- */

.listing {padding:10px 0 0}
.item {width:auto; padding:20px; margin:20px 0; position:relative; background:#fff; border:1px solid #ededed;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
}
.item .special-offer {width:104px; height:104px; position:absolute; top:-10px; right:-10px; background:url('/images/css/ribbon-special-offer.png') no-repeat 0 0; text-indent:-9999px}

.item .logo {width:120px; height:120px; float:left; background:url('/images/css/listing-default-logo.gif') no-repeat 50% 50%}
.item .logo img {display:block}
.item .content {width:360px /* Total:385 */; padding:0 0 0 15px; float:right; border-left:2px solid #ededed}
.item .content h2 {padding:0 0 6px; font-size:24px; line-height:24px}
.item .content small {font-size:11px}
.item .content small span {padding:0 15px; color:#999; font-weight:bold}
.item .content p {margin-top:5px}
.item .content .buttons {margin-bottom:0 !important}

.item.details {padding-top:10px; padding-bottom:5px}
.item.details .content p {margin:5px 0; font-size:14px}
.social-sharing {margin:10px 0}

.business-menu {padding:0px 0 0}
.business-menu .addItem {padding: 5px;text-align: right}

.menu_category {width:auto; padding-left: 5px; margin:5px 0; position:relative;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
        font-weight:bold;
        font-size: 16px;
}
.menu_item {width:auto; height:auto; padding-left:10px; position:relative;
	/* ---------------------- rounded corners ---------------------- */
	border-radius:5px;
	/* Firefox 3.6 and earlier */
	-moz-border-radius:5px;
}
.menu_item .name {padding-left: 10px; font-weight:bold; font-size: 14px;}
.menu_item .description {padding-left: 10px; font-size: 14px; font-style: italic}
.menu_item .prices {padding-left: 10px;font-weight: normal; }
.menu_item .rating {padding-left: 10px;}

/* ----------------------------------- pagination ----------------------------------- */

.pagination-container {display:table; position:relative; left:50%}
.pagination {display:inline-block; position:relative; left:-50%}
.pagination a {width:23px; height:23px; margin:0 5px; float:left; display:block; background:url('/images/css/pagination.png') no-repeat 0 0; color:#555; font-weight:bold; text-align:center; line-height:23px}
.pagination a:hover,
.pagination a.active {background-position:0 -23px; color:#fff}
.pagination a.prev {background-position:0 -46px; text-indent:-9999px}
.pagination a.prev:hover {background-position:0 -69px; text-indent:-9999px}
.pagination a.next {background-position:0 -92px; text-indent:-9999px}
.pagination a.next:hover {background-position:0 -115px; text-indent:-9999px}



/* ============================================== sidebar ==============================================  */

.country {padding-bottom:30px !important}
.country select {height:30px; width:100%; line-height:25px; display:block}

.formRow {
  clear:left;
}
.formRow label {
  width:120px; 
  margin:0 0 5px; 
  float:left; 
  display:block; 
  font-size:15px; 
  line-height:26px
}

.search {margin:0 0 5px}
.search label {width:65px; margin:0 0 5px; float:left; display:block; font-size:15px; line-height:26px}
.search .input-white {width:190px; float:right}
.search .buttons {margin:5px 0 0 55px}

.check-box {padding:0 0 0 20px}
.check-box p {font-size:14px; position:relative}
.check-box label {padding:0 0 0 18px; position:relative; top:0; left:0; z-index:10; background:#000}
.check-box input {width:16px; height:16px; margin:0; position:absolute; top:2px; left:0; z-index:20; opacity:0}
.check-box input + label {height:16px; line-height:16px; background:url(/images/css/check-box.png) no-repeat 0 3px; height:13px}
.check-box input[type=checkbox]:checked + label {background-position:0 -14px}



/* ============================================== footer ==============================================  */

#footer {width:100%; padding:25px 0 25px; position:relative; color:#aaaaaa;
	/* ---------------------- rounded top corners ---------------------- */
	/*  For Firefox, Flock and SeaMonkey */
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0px; 
	border-bottom-right-radius:0px;
	/*  For Firefox, Flock and SeaMonkey */
	-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
	/* For Google Chrome and Safari */
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
	/* ---------------------- linear gradient ---------------------- */
	/* fallback/image non-cover color */
	background-color: #333333;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#222222));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #333333, #222222);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #333333, #222222);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #333333, #222222);
}

#footer .logo {width:76px; height:73px; position:absolute; top:-30px; left:-15px; background:url(/images/css/logo-this_city-small.png) no-repeat 0 0; text-indent:-9999px}
#footer small {margin:5px 0; color:#656565}
#footer small a:hover {color:#f15f2d}

.footer-cols {width:auto; padding:0 0 0 25px; font-size:13px}
.footer-cols li {width:246px; padding:2px 50px 0 0; margin:0 50px 0 0; float:left; display:block; background:url('/images/css/border-v-black-footer.gif') repeat-y 99% 0}
.footer-cols li.last {padding-right:0; margin-right:0; background:none}

#footer .footer-cols a {color:#aaaaaa; line-height:30px}
#footer .footer-cols a:hover {color:#f15f2d}
#footer .footer-cols h3 {padding:0 0 12px; font-weight:normal; color:#cccccc}
#footer .footer-cols h3 span {color:#f15f2d}

#footer .footer-cols .links p {padding:26px 0 2px}
#footer .footer-cols .links p span {padding:0 3px; color:#555555; font-weight:bold}

.social-media a {width:auto; height:25px; padding:0 0 0 35px; margin:0 0 10px; display:block; background:url('/images/css/social-media-icons.png') no-repeat 0 0; line-height:25px !important}
.social-media a.facebook {background:url('/images/css/social-media-icons.png') no-repeat 0 0}
.social-media a.twitter {background:url('/images/css/social-media-icons.png') no-repeat 0 -25px}
.social-media a.rss {background:url('/images/css/social-media-icons.png') no-repeat 0 -50px}

.form-newsletter label {width:50px; margin:0 0 5px; float:left; display:block; font-size:15px; line-height:26px}
.form-newsletter .input-black {width:175px; float:right}
.form-newsletter .buttons {margin:5px 0 0 55px}

.business-list th {font-weight:bold;color:white;background-color:#444;}
.business-list td,
.business-list th {
  border: 1px solid white;
  padding: 2px;
}

.business-offer {
  padding: 10px;
  border: 2px dashed #316872;
  background-color: #B8ECF7;
  float:left;
  width: 500px;
  margin: 10px 0px;
  border-radius:5px;
  /* Firefox 3.6 and earlier */
  -moz-border-radius:5px;
}

.business-offer .img-container {
  float: left;
  margin-right: 5px;
}

.error {color:red;font-weight:bold;}

.checkbox_tree {clear:both;}

.browse-countries ul {
  padding-left: 20px;
  clear:both;
}

.browse-countries ul li {
  display: inline;
  float: left;
  width: 120px;
  margin-right: 10px;
}

